<div class="main-container">
  <div class="inner-container">

   <p>404</p>
   <p>NOT FOUND</p>
  </div>
</div>


<style>
  p {
    font-family: "Yu Gothic Medium";
    font-size: 70px;

  }
  .main-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .inner-container {
    background-color: rgba(232, 232, 232, 0.89);
    display: flex;
    width: 80%;
    height: 620px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    border: solid 2px gray;
    border-radius: 15px;
  }



</style>
